.row {
  max-width: $grid-width;
  background-color: #eee;
  margin: 0 auto;
  display: flex;
  gap: $gutter-horizontal;

  &:not(:last-child) {
    margin-bottom: $gutter-vertical;
  }

  [class^="col-"] {
    background-color: pink;
    padding: 1.5rem;
  }

  .col-1-of-2 {
    width: 50%;
  }

  .col-1-of-3 {
    width: 30%;
  }

  .col-2-of-3 {
    width: 70%;
  }

  .col-1-of-4 {
    width: 25%;
  }

  .col-2-of-4 {
    width: 50%;
  }

  .col-3-of-4 {
    width: 70%;
  }
}
